* {
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}
body{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    background-color: black;
}
header{
    position: static;
    display: flex;
    height: 180px;
    width: 100%;
    background-color: #fff;
    justify-content: center;
    align-items: center;
}
main{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    justify-content: center;
    align-items: center;
}

nav{
    display: flex;
    margin: auto 100px;
    text-align: center;
    text-align: center;
    width: 50%;
}

footer{
    display: flex;
    position: relative;
    bottom: 100%;
    background-color: rgb(24, 24, 24);
    width: 100%;
    height: 40px;
    color: white;
    justify-content: center;
    align-items: center;
}

p{
    font-size: 2rem;
    width: 650px;
}

.InputForm{
    font-size: 1.4rem;
    width:650px;
    height: 2rem;
    color: white;
    padding-left: 10px;
    border: none;
    border-bottom: 1px solid white;
    background-color: #000;
}

.LogoCestaria{
    margin: auto 0px;
    margin-left: 20px;
    height: 160px;
}
.InputPesquisa{
    font-size: 1.3rem;
    margin: auto 0px;
    height: 2.9rem;
    max-width: 600px;
    min-width: 350px;
    width: 80%;
    border: 1px solid;
    border-radius: 0 1rem 1rem 0;
}
.InputPesquisa:active,:focus{
    outline: none;
    box-shadow: none;
}

#BotaoPesquisar{
    min-width: 3rem;
    width: 3rem ;
    height: 3rem;
    color:white;
    background-color: black;
    border:none;
    border-radius:  1rem 0 0 1rem;
    cursor: pointer;
}
.BotaoPesquisar:active,:focus{
    outline: none;
    box-shadow: none;
}
.FormularioCliente{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    text-align: justify;
    margin-top: 95px;
    color: white;
    font: 1.5rem sans-serif;
    height: 500px;
    width:700px;
}

.Banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
    height: 500px;
    width: 700px;
}
.BotaoCadastrar{
    position: relative;
    bottom: 50px;
    cursor: pointer;
    margin: 0 auto;
    height: 2.5rem;
    border: 3px solid white;
    border-radius: .5rem;
    font-size: 1.4rem;
    background-color: black;
    color:white;
    width: 200px;
}

#cronometro{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 80px;
    align-items: center;
    text-align: center;
    width: 650px;
    font-size: 1.2rem;
    color: white;
}
.spanCont{
    margin: 0 20px;
    width: 120px;
}
.contadores{
    margin: 0 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 120px;
    font-size: 6rem;
}

#cabecalho{
    background-image: url('imagens/texturavime.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}



.sectionProdutos{
    flex-wrap: wrap;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.card_produto{
    border-radius: 10px;
    border-style:outset;
    border-color: white;
    background-color:rgb(27, 27, 27);
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 80px;
    color: white;
    width: 570px;
    height: 280px;
}
.img_produto{
    margin-left: 10px;
	width: 200px;
	height: 250px;
}
.textoProduto{
    font-size: 1.2rem;
    padding: 5px;
    width: 280px;
}
.descontoProduto{
    color: red;
    font-size: .9rem;
    text-decoration: line-through;
}
.Preço{
    font-size: 2.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: green;
}
.tituloProduto{
    font-size:2rem;
}
.botao_adicionar_carrinho{
    font-weight: 600;
    display: flex;
    margin-left: 100px;
    padding: 5px;
    justify-content: center;
    cursor: pointer;
    font-size: 1.2rem;
    height: 50px;
    width: 75px;
    border-radius: 10px;
}
.VerMais{
    text-decoration: none;
    position: relative;
    bottom: 30px;
    font-size: 1.5rem;
    color: white;
}
.VerMais:visited{
    text-decoration: none;
    position: relative;
    bottom: 30px;
    font-size: 1.5rem;
    color: white;
}.VerMais:hover{
    color: rgb(255, 196, 2);
}



